# Configuración del Servidor y Base de Datos
PORT=5050
NODE_ENV=development

# Ruta del archivo de Base de Datos SQLite (relativa o absoluta)
DB_PATH=./database/almacen.sqlite

# Umbral por defecto para considerar Stock Bajo
LOW_STOCK_THRESHOLD=10

# Clave de acceso para el perfil de Administrador
ADMIN_PIN=admin123
